<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </p>
  <p>
    <%= f.label :my_workout %>
    <%= f.text_area :my_workout %>
  </p>
  <p>
    <%= f.label :my_diet %>
    <%= f.text_area :my_diet %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>