<div class="row-fluid">
  <div class="span6">
    <h2><font size='5'>Update your profile</font></h2>
    <a class="btn btn-danger" href="<%= edit_user_path(current_user) %>">Edit Credentials</a>
    <p><%= render partial: 'profile' %></p>
  </div>
  <div class="span6">
    <h2><font size='5'>Gyms</font></h2>
    <p>Your favorite spots:</p>
    <p>
      <ul>
         <% current_user.gyms.each do |usergym| %>
           <li><%= usergym.full_street_address %><br></li>
         <% end %>
      </ul>
      <% available_gyms = Gym.all - current_user.gyms %>
      <% unless available_gyms.empty? %>
        <%= form_for current_user, :url => add_gym_user_path(current_user) do |f| %>
          <%= f.select :gyms, available_gyms.map {|g| [g.full_street_address, g.id] } %>
          <%= f.submit "Add" %>
        <% end %>
      <% end %>
    </p>
    <h2><font size='5'>Exercises</font></h2>
    <% available_exercises = Exercise.all - current_user.exercises %>
    <% unless available_exercises.empty? %>
      <%= form_for current_user, :url => add_exercise_user_path(current_user) do |f| %>
        <%= f.select :exercises, available_exercises.map {|e| [e.name, e.id] } %>
        <%= f.submit "Add" %>
      <% end %>
    <% end %>
    <p><strong>Track your progress.<br> Input your reps:</strong></p>
    <%= render partial: 'exercises_form' unless current_user.exercises.empty? %>
  </div>
</div>