<ul class="nav">
  <% if current_user %>
  <li>
    <img src="http://housetheatre.org.uk/wp-content/uploads/Hi-Res-Fourth-Monkey-Logo4-e1342734332793-49x49.jpg">
  </li>
  <li>
    <%= link_to('Home', home_path)  %>
  </li>
  <li>
    <%= link_to('Users', users_path)  %>
  </li>
  <li>
    <%= link_to('Gyms', gyms_path)  %>
  </li>
  <li>
    <%= link_to('Exercises', exercises_path)  %>
  </li>
  <li>
    <%= link_to('About', about_path)  %>
  </li>
  <li>
    <%= link_to('Log out', logout_path)  %>
  </li>
  <div id="logged_in_user">
    &nbsp &nbsp Logged in as <%= current_user.email %>
  </div>
  <% else %>
  <li>
    <img src="http://housetheatre.org.uk/wp-content/uploads/Hi-Res-Fourth-Monkey-Logo4-e1342734332793-49x49.jpg">
  </li>
  <li>
    <%= link_to('Sign up', signup_path)  %>
  </li>
  <li>
    <%= link_to('Log in', login_path)  %>
  </li>
  <% end %>
</ul>